.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--input);
  border-radius: 3px;
  margin-block: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
